{% extends "layout/main_layout.html" %}
{% load django_bootstrap5 %}

{% block title %}로그인{% endblock title %}

{% block contents %}
{% csrf_token %}
<h1>로그인</h1>
{% if error_msg %}
    <span style="color: red">{{error_msg}}</span>
{% endif %}
<form method="post">
     {% csrf_token %}
     {% bootstrap_form form %}
     <div class="mt3">
        <button type="submit" class="btn btn-primary">로그인</button>
        <button type="reset" class="btn btn-primary">로그아웃</button>
     </div>
</form>
{% endblock contents %}
