static_files/
save_files/
saved_models/
saved_model/
saved_dir/
datasets/
data/
vector_storage/

naver_movie_comment_classifier/

.json
.pkl

.ipynb_checkpoints/
.venv/

.env
env

petition_corpus.txt

__pycache__/


*.png
*.jpg
*.gif
