<!--polls/template/polls/vote_create_form.html-->
{%extends "layout/main_layout.html"%}

{% load static %}

{%block title%}질문 등록 -form.py{%endblock title%}
{%block contents%}

<h1>설문 문제 등록 - form.py 이용</h1>

<form method="post">
    {% csrf_token%}
    <h3>질문</h3>
    {{q_form}}

    <h3 class="mt-2">보기</h3>
    {{ c_formset.management_form }}
    {% comment %}
        <input type="hidden" name="form-TOTAL_FORMS" value="2" id="id_form-TOTAL_FORMS">
        <input type="hidden" name="form-INITIAL_FORMS" value="0" id="id_form-INITIAL_FORMS">
        <input type="hidden" name="form-MIN_NUM_FORMS" value="0" id="id_form-MIN_NUM_FORMS">
        <input type="hidden" name="form-MAX_NUM_FORMS" value="1000" id="id_form-MAX_NUM_FORMS">
     formset객체의 정보
     이 정보들을 view에 전달해야 정상적으로 처리가 가능
     TOTAL_FORMS:formset으로 생성한 input들의 개수. view에서는 이 개수만큼만 읽어서 처리.
                그래서 동적으로 input을 생성/삭제할 경우 TOTAL_FORMS의 값을 변경해야 한다.
    {% endcomment %}
    <div id="choice_layer">
    {%for c_form in c_formset %}
        {{c_form}}
    {%endfor%}
    </div>
    <div id="button_layer">
            <button type="button" onclick="addChoice()"class="btn btn-info">보기추가</button>
            <button type="button" onclick="delChoice()"class="btn btn-info">보기삭제</button>
            <button type="submit" class="btn btn-primary">문제 등록</button>
    </div>
</form>
{%endblock contents%}

{%block javascript%}
<!--script src="/static/polls/ja/scripts.js"-->
<script scr="{% static/polls/ja/scripts.js %}">

    // function addChoice(){
    //     // "input[name$='choice_text']" input 태그 . name속성의 값이 choice_text로 끝나는 것.  name^='aa': aa로 시작, name='aa': aa 와 같은
    //     const choice_text_cnt = document.querySelectorAll("input[name$='choice_text']").length;
    //     const choice_input_name = `form-${choice_text_cnt}-choice_text`;

    //     const choice_input = document.createElement("input");
    //     choice_input.setAttribute("type", "text");
    //     choice_input.setAttribute("name", choice_input_name);
    //     choice_input.setAttribute("required", true);
    //     choice_input.setAttribute("class", "form-control");

    //     const layer = document.getElementById("choice_layer");
    //     layer.appendChild(choice_input);

    //     //formset으로 생성한 TOTAL_FORMS 값을 1 증가
    //     const totalForms = document.getElementById("id_form-TOTAL_FORMS");
    //     totalForms.value = parseInt(totalForms.value) + 1;
    // }

    // function delChoice(){
    //     const layer = document.querySelector("#choice_layer");
    //     if (layer.children.length > 2){
    //         layer.removeChild(layer.lastChild);            

    //     const totalForms = document.getElementById("id_form-TOTAL_FORMS")
    //     totalForms.value = parseInt(totalForms.value)-1;
    //     }else{
    //         //유지
    //         alert("보기가 두개이면 삭제가 안됩니다.");;            }
    // }
</script>
{%endblock javascript%}